@import "tailwindcss";

@theme {
  /* Primary */
  --color-primary: #f0bd24;
  --color-primary-foreground: #ffffff;

  /* Secondary */
  --color-secondary: #edd89d;
  --color-secondary-foreground: #222222;

  /* Accent */
  --color-accent: #d9bb71;
  --color-accent-foreground: #212121;
  /* Base */
  --color-background: #ffffff;
  --color-foreground: #212121;

  /* Card */
  --color-card: #ffffff;
  --color-card-foreground: #212121;

  /* Popover */
  --color-popover: #ffffff;
  --color-popover-foreground: #212121;

  /* Muted */
  --color-muted: #f5f0f1;
  --color-muted-foreground: #636363;

  /* Destructive */
  --color-destructive: rgb(156, 115, -5, 0.5);
  --color-destructive-foreground: #0a0a0a;

  /* Border & Input */
  --color-border: #e0dcdd;
  --color-input: #e0dcdd;
  --color-ring: rgb(156, 115, -5, 0.5);

  /* Chart */
  --color-chart-1: rgb(156, 115, -5, 0.5);
  --color-chart-2: #edd89d;
  --color-chart-3: #d9bb71;
  --color-chart-4: #636363;
  --color-chart-5: #f5f0f1;

  /* Sidebar */
  --color-sidebar: #ffffff;
  --color-sidebar-foreground: #212121;

  --color-sidebar-primary: rgb(156, 115, -5, 0.5);
  --color-sidebar-primary-foreground: #0a0a0a;
  --color-sidebar-accent: #f5f0f1;
  --color-sidebar-accent-foreground: #212121;

  --color-sidebar-border: #e0dcdd;
  --color-sidebar-ring: rgb(156, 115, -5, 0.5);
}

@utility no-scrollbar {
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}